.bannercontent {
    background-image: url(../../images/2111.w037.n003.11B.p1.11-min.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-position: top;
}