.flip {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.navOptions {
    border-bottom: 2px solid transparent;
    transition: 0.5s;
    padding-left: 5px;
    padding-right: 5px;
}

.navOptions:hover {
    border-bottom: 2px solid;
    border-color: rgba(0, 100, 0, 0.678);
    background-color: rgba(255, 255, 255, 0.089) !important;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


.forLogInUser {
    border-bottom: 2px solid transparent;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    background-color: transparent !important;
    border-top: 0;
    border-right: 0;
    border-left: 0;
}

.forLogInUser:hover {
    border-bottom: 2px solid;
    border-color: rgba(0, 100, 0, 0.678);
    background-color: rgba(255, 255, 255, 0.089) !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    background-color: transparent !important;
}






.menu :where(li:not(.menu-title):not(:empty))> :where(*:not(ul):focus),
.menu :where(li:not(.menu-title):not(:empty))> :where(*:not(ul):hover) {
    background-color: transparent !important;
    --tw-bg-opacity: 0.1;

}